apiVersion: v1
kind: Secret
metadata:
  name: asg-node-refresh-aws-creds
type: Opaque
data:
  aws_access_key_id: Base64 encoded AWS_ACCESS_KEY_ID
  aws_secret_access_key: Base64 encoded AWS_SECRET_ACCESS_KEY
  aws_asg_name: Base64 encoded ASG name(not ARN)